<!-- @format -->
<link rel="stylesheet" href="/stylesheets/nav.css" />
<style >
body {
margin: 0;
padding: 0;
background-color: rgb(90, 178, 212);
}
</style>
<nav class="navbar">
<div class="logo">Tasklify</div> 
  <ul class="nav-links">
    <div class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      </li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/signin">Sign In</a></li>
    </div>
  </ul>
</nav>
