<!-- @format -->
<link rel="stylesheet" href="/stylesheets/nav.css" />

<nav class="navbar">
  <!-- LOGO -->

  <div class="logo">Tasklify</div>

  <!-- NAVIGATION MENU -->

  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <!-- 
    <input type="checkbox" id="checkbox_toggle" /> -->

    <!-- <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->

    <!-- NAVIGATION MENUS -->

    <div class="menu">
      <li><a href="/">Home</a></li>

      <li><a href="/api/v1/about">About</a></li>

      <li class="services">
        <a href="/">Services</a>

        <!-- DROPDOWN MENU -->

        <ul class="dropdown">
          <li><a href="/api/v1/progress">Progress</a></li>

          <li><a href="/api/v1/tasks?deleted=true">Deleted Tasks</a></li>
        </ul>
      </li>
      <% if(!verified) {%>

      <li><a href="/me/api/v1/signup">Sign Up</a></li>

      <li><a href="/me/api/v1/signin">Sign In</a></li>
      <% } %>
    </div>
  </ul>
</nav>
