<!-- @format -->

<!DOCTYPE html>
<%- include('includes/head.ejs') %> <%- include('includes/nav.ejs') %>
<section>
  <p>Something wrong</p>
  <p>Message <%= msg %></p>
</section>
<%- include('includes/end.ejs') %>
